/* Custom styles for Dash tabs using SUPERHERO theme */
.tab-content {
    background-color: #2B3E50; /* Background of the tab content */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #007BFF; /* Active tab background color */
    border-color: #007BFF;
}

.nav-tabs .nav-link {
    color: #DDD; /* Inactive tab text color */
    background-color: #333; /* Inactive tab background color */
    border-color: #454d55;
}

.nav-tabs .nav-link:hover {
    border-color: #007BFF;
}
