/* Main header styling */
h1.main-header {
    text-align: center;
    color: #800020; /* Burgundy */
    font-weight: bold;
    font-size: 40px; /* Adjust as needed */
}

/* Description text styling */
p.app-description {
    text-align: center;
    color: #800020; /* Burgundy */
    /* Additional styling if needed */
}

/* Apply a pale pink background to the entire page, with burgundy text and Times New Roman font */
body {
    background-color: #fddde6; /* Pale pink */
    color: #800020; /* Burgundy */
    font-family: 'Times New Roman', Times, serif;
}

/* Style the headers (h1, h2, h3, etc.) in burgundy */
h1, h2, h3, h4, h5, h6 {
    color: #800020; /* Burgundy */
}

/* Style the tabs with a pale pink background and burgundy text */
.nav-tabs .nav-link {
    background-color: #fddde6; /* Pale pink */
    color: #800020; /* Burgundy */
    border-color: #fddde6; /* Pale pink border */
}

/* Active tab style */
.nav-tabs .nav-link.active {
    background-color: #fddde6; /* Pale pink */
    color: #800020; /* Burgundy */
    border-color: #800020; /* Burgundy border */
}

/* Hover tab style */
.nav-tabs .nav-link:hover {
    background-color: #fbcce7; /* Slightly lighter pink for hover */
    color: #800020; /* Burgundy */
    border-color: #800020; /* Burgundy border */
}

/* Customize the Dash DataTable */
.dash-table-container .dash-spreadsheet, .dash-spreadsheet-container .dash-spreadsheet {
    background-color: #fddde6; /* Pale pink */
    color: #800020; /* Burgundy */
}

/* Customize the dropdown menu */
.Select-control, .Select-menu-outer {
    background-color: #fddde6; /* Pale pink */
    color: #800020; /* Burgundy */
}

/* Customize the slider */
.rc-slider-track, .rc-slider-handle, .rc-slider-dot {
    background-color: #800020; /* Burgundy */
    border-color: #800020; /* Burgundy */
}
